.container {
  display: flex;
  align-items: center;
  padding: 50px;
  position: relative;
}

.container h1 {
  padding-top: 80px;
  font-size: 36px;
}

.container button {
  width: 120px;
  height: 40px;
  background-color: rgb(153, 8, 8);
  margin-top: 40px;
  
  border: none;
  border-radius: 50px;

  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 14px;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.container img {
  width: 600px;
  height: 500px;
  object-fit: contain;

  position: absolute;
  left: 50%;
  top: 20%;
}
