.header {
  padding: 20px 90px;
  background-color: rgb(19, 14, 14);
}

.header > div {
  max-width: 1000px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Nunito", sans-serif;
  color: aliceblue;
  font-size: 18px;
  font-weight: 500;
}

.header svg {
  color: rgb(153, 8, 8);
}

.header div {
  display: flex;
  gap: 20px;
}

.header > div > div > p {
  cursor: pointer;
}

.header > div > div > p:hover {
  color: rgb(153, 8, 8);
}
