.header {
  padding: 30px 90px;
  background-color: rgb(19, 14, 14);
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header > nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  color: aliceblue;
  font-size: 18px;
  font-weight: 500;
}

.header > nav > div > span {
  color: rgb(153, 8, 8);
}

.header > nav > div > span > span {
  color: aliceblue;
}

.header svg {
  color: rgb(153, 8, 8);
}

.header div {
  display: flex;
  gap: 20px;
}

.header > nav > div > p {
  cursor: pointer;
}

.header > nav > div > p:hover {
  color: rgb(153, 8, 8);
}

@media (max-width: 1000px) {
  .header {
    padding: 30px 20px;
  }
  .header > nav {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 744px) {
  .header {
    padding: 30px 10px;
  }
  .header > nav {
    display: flex;
    justify-content: space-around;
  }
  .header svg {
    visibility: hidden;
  }
  .header > nav > div > span {
    display: flex;
    flex-direction: column;
  }
  .header div {
    display: flex;
    gap: 15px;
  }
}
