* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  min-height: 700px;
}

.section {
  padding: 20px 90px;
  background-color: rgb(19, 14, 14);

  font-family: "Nunito", sans-serif;
  color: aliceblue;
  font-weight: 500;
}
