* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 100%;
  margin-inline: auto;
}

.section {
  padding: 20px 90px 50px;
  background-color: rgb(19, 14, 14);
  font-family: "Nunito", sans-serif;
  color: aliceblue;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-size: 30px;
  padding-bottom: 15px;
  padding-top: 60px;
}

@media (max-width: 1000px) {
  .section {
    padding: 0 20px 30px 20px;
  }
}

@media (max-width: 744px) {
  .section {
    padding: 10px 10px 30px 10px;
  }
  .title {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 60px;
  }
}
