* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  min-height: 600px;
}

.section {
  padding: 20px 90px 50px 90px;
  background-color: rgb(19, 14, 14);

  font-family: "Nunito", sans-serif;
  color: aliceblue;
}

.title {
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 80px;
}
